
@{
    ViewBag.Title = "CreatServices";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Burası Hizmetler Oluşturma Sayfası</h2>
<form method="post">
    <label>Açıklam1</label>
    <input type="text" class="form-control" name="Description" />
    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" />
    <label>İkonURL</label>
    <input type="text" class="form-control" name="IconURL" />
    <label>Açıklama2</label>
    <input type="text" class="form-control" name="ServicesContent" />
    <button class="btn btn-success">Ekle</button>

</form>

