@model AcunMedyaPortfolyoProject.Models.TableSkill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Burası Yetenekler Güncelleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(a => a.SkillID)
    <label>Yetenek Adı</label>
    @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })
    <label>Yüzdelik</label>
    @Html.TextBoxFor(x => x.Percentage, new { @class = "form-control" })
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <button type="submit">Güncelle</button>
</form>

