
@{
    ViewBag.Title = "CreatContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Burası Contact Oluşturma Sayfası </h2>
<form method="post">
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />
    <label>Adres</label>
    <input type="text" class="form-control" name="Adress" />
    <label>Mail</label>
    <input type="text" class="form-control" name="Email" />
    <label>Telefon</label>
    <input type="text" class="form-control" name="Phone" />
    <button class="btn btn-success">Ekle</button>
</form>

